<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.easy.voice.note.recorder">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Easyvoicenoterecorder">
        <activity
            android:name="com.easy.voice.note.recorder.extra"
            android:exported="true" />
        <activity
            android:name="com.easy.voice.note.recorder.PlayRecording"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.easy.voice.note.recorder.SavedRecordingList"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.easy.voice.note.recorder.RecordingScreen"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.easy.voice.note.recorder.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.easy.voice.note.recorder.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>